.container{  
max-width: 300px;
background-color: rgba(145, 40, 40, 0.83);
padding: 20px;
border-radius: 20px;
font-family: Arial, Helvetica, sans-serif;
display: block;
position: absolute;
left: 50%;
top: 35%;
transform: translate(-50%, -50%);

}

input{
padding: 5px;
border-radius: 10px;
width: 80%;
display: block;
display: flex;

}


body{
    background: url(./images/fundochurras.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
font-size: large;
font-weight: bold;
color: aliceblue;
}